<header> 
  <nav class="sticky">
    
      <div class="row justify-content-end font-weight-bold">
        <nav class="navbar mt-4 navbar-expand-lg navbar-light">
          <div class="container-fluid">
          <a class="navbar-brand text-primary font-weight-bold" style="margin-right: 820px;">WELCOME TO KALYAN TRAVELS 🚍</a>
          </div>
      </nav>
          <ul class="main-nav">
              <li><a routerLink='/login'>Login</a></li>
              <li><a routerLink='/register'>Signup</a></li>
          </ul>
      </div>
  </nav>
  <div class="hero-text-box">
      <h1><strong class="font-weight-bold">NEVER STOP EXPLORING<br> THE WORLD </strong></h1>
      <a class="btn btn-full font-weight-bold" style="color:darkblue;">ADVENTURE IS OUT THERE !!</a> 
  </div>      
</header>
<section class="section-about">
  <h4 class="text-center mb-3 mt-5 font-weight-bold">WHY KALYAN TRAVELS FOR BUS BOOKING ?</h4>
  <p>The leading player in online Bus bookings in India, <strong>Kalyan Travels</strong> offers lowest fares, exclusive discounts and a seamless online booking experience. Website site is delightfully customer friendly experience, and with just a few clicks you can complete your booking.</p>
</section>

<h4 class="font-weight-bold text-center mt-5">OFFERS OF THE DAY!!!</h4>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col pl-1">
      <div class="card h-100 bg-warning">
        <div class="card-body">
          <h5 class="blink mb-4 text-center card-title text-primary font-weight-bold">HOT DEALS!!</h5>
          <p class="card-text">Flat 5% off on your First Bus Booking with our website</p>
        </div>
        <div class="card-footer bg-dark">
          <small class="text-muted text-warning">*T & C apply</small>
        </div>
      </div>
    </div>
    <div class="col pl-1">
      <div class="card h-100 bg-warning">
        <div class="card-body">
          <h5 class="blink mb-4 text-center card-title text-primary font-weight-bold">TODAYS OFFERS!!</h5>
          <p class="card-text">Get upto ₹400 assured cashback on bookings above ₹3500</p>
        </div>
        <div class="card-footer bg-dark">
          <small class="text-muted">*T & C apply</small>
        </div>
      </div>
    </div>
    <div class="col pl-1">
      <div class="card h-100 bg-warning">
        <div class="card-body">
          <h5 class="blink mb-4 text-center card-title text-primary font-weight-bold">DEAL OF THE DAY!!</h5>
          <p class="card-text">Buy 10 Bus Tickets and get 5 more Bus Tickets Free.</p>
        </div>
        <div class="card-footer mt-4 bg-dark">
          <small class="text-muted text-dark">*T & C apply</small>
        </div>
      </div>
    </div>
  </div>

  
<h4 class="font-weight-bold text-center mt-5 mb-4">BOOK YOUR TICKETS - AS SIMPLE AS 1, 2, 3, 4, 5</h4>
  <section class="section-steps">
    <div class="row">
        <div class="col span-1-of-2 steps-box">
            <img src="../../assets/images/bus home2.jpg" class="app-screen">
        </div>
        <div class="col span-1-of-2 steps-box">
            <div class="works-step">
                <div>1</div>
                <p>PLAN YOUR TRAVEL <br> <small>Enter Source and Destination locations and select Date of Journey too.</small></p>
            </div>
            <div class="works-step">
                <div>2</div>
                <p>CHOOSE A BUS <br> <small>Choose your required bus and click on View Seats.</small></p>
            </div>
            <div class="works-step">
                <div>3</div>
                <p>SELECT SEATS <br> <small>From your selected Bus, select your required number of seats.</small></p>
            </div>
            <div class="works-step">
                <div>4</div>
                <p>PASSENGER INFO <br> <small>Enter Passenger(s) information and click on continue to Payment.</small></p>
            </div>
            <div class="works-step">
                <div>5</div>
                <p>PAYMENT <br> <small>Select your card and complete the payment procedure and Download your ticket.</small></p>
            </div>
        </div>
    </div>
</section>

<section class="section-cities">
<h4 class="font-weight-bold text-center mt-4 mb-4">POPULAR BUS ROUTES</h4>
<p class="text-center mb-5">Currently, we are providing Bus services to the below mentioned cities. We will add more cities in the Future.</p>
  <div class="row">
      <div class="col box">
          <div class="hyd">
          <img src="../../assets/images/hyderbad-21.jpg"></div>
          <h6>HYDERABAD</h6>
          <div>
              To Chennai<br> Goa <br> Mumbai
          </div>
      </div>
      <div class="col box">
        <div class="chn">
          <img src="../../assets/images/chennai2.jpg"></div>
          <h6 class="chnpad">CHENNAI</h6>
          <div>
            To Goa<br> Mumbai <br> Hyderabad
          </div>
      </div>
      <div class="col box">
        <div class="goa">
          <img src="../../assets/images/goa.jpg"></div>
          <h6 class="goapad">GOA</h6>
          <div>
            To Mumbai<br> Hyderabad <br> Chennai
          </div>
      </div>
      <div class="col box">
        <div class="mum">
          <img src="../../assets/images/mumbai3.png"></div>
          <h6 class="mumpad">MUMBAI</h6>
          <div>
            To Hyderabad<br> Chennai <br> Goa
          </div>
      </div>
  </div>
</section>
<section class="section-testimonials" style="margin-top: 20px;">
<h4 class="font-weight-bold text-center mt-5">TESTIMONIALS</h4>
  <div class="row">
      <div class="col">
          <blockquote> "Hi, Bus is excellent and top rated. Every bus is fantastic and very hygenic I recommend everyone to book your seats in Kalyan Travels".
              <cite>  <h2>🧞‍♂️</h2> - Peter ⭐⭐⭐⭐⭐</cite>
          </blockquote>
      </div>
      <div class="col">
          <blockquote> "Hi, Bus is excellent and top rated. Customer service is also extra-ordinary. I will give five stars for the safety they assure".
              <cite> <h2>🧞‍♂️</h2> - Michael ⭐⭐⭐⭐⭐</cite>
                  
          </blockquote>
      </div>
      <div class="col">
          <blockquote> "HI Bus is excellent and top rated. Every bus is fantastic and seats are also very neat and clean. I recommend everyone to book your seats here".
              <cite> <h2>🧞‍♂️</h2> - Estella ⭐⭐⭐⭐⭐</cite>
          </blockquote>
      </div>
  </div>
</section>



<app-dashboard></app-dashboard>