.image {
    background-image: linear-gradient(to bottom right, #ffecd2, #fcb69f);
    height: 79vh;
}
#wrapper_1 {
    margin-right: 35px;
    margin-left: -840px;
    margin-top: 30px;
    background-color: transparent;
    border: 0ch;
}
.separator {
    height: 30px;
    width: 2px;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
    margin: 115px 60px 40px -925px;
  }
#wrapper_2 {
    margin-top: 30px;
    background-color: transparent;
    border: 0ch;
}