
/* FOOTER */
footer {
    background-color: skyblue;
    padding: 50px;
    font-size: 90%;
    color: black;
  }
  .social-links {
    margin-left: 320px;
  }
  .footer-nav li,
  .social-links li {
    display: inline-block;
    margin-right: 20px;
    color: black;
  }
  footer p {
    color:#888;
    text-align: center;
    margin-top: 40px;
  }
  
  