<footer>
    <div class="row">
        <div class="col">
            <ul class="footer-nav font-weight-bold">
                <li><a type="button">About Us</a></li>
                <li><a type="button">Contact Us</a></li>
                <li><a type="button">Kalyan Travels</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="social-links">
                <li><a class="fa fa-facebook"></a></li>
                <li><a class="fa fa-instagram"></a></li>
                <li><a class="fa fa-twitter"></a></li>
                <li><a class="fa fa-linkedin"></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p style="margin-left: 50px;color: black;">&copy;Copyright 2022 All Rights Reserved</p>
    </div>
  </footer>